literature/*
agentic/*
.claude/*
input/*
results/*
CLAUDE*
*.zip
build/*
test/*
tests/*
euler/*
experiments/*
bkp/*
*/*.pdf
PlottingScripts/*
.venv/
src/fleet_management/test.py*
src/fleet_management/helper_inspector.py*
src/fleet_management/tempCodeRunnerFile.py*
src/fleet_management/opt_analysis.py*
src/fleet_management/analysis.py*
__pycache__/
*.py[cod]
docs/*
test_results/*
.venv-euler/*
results/*
logs/*
results-euler/*
vbz_lines161_162_F4_5pct_14012732.tar.gz
vbz_lines161_162_L2_5pct_14083281.tar.gz
vbz_lines161_162_L2_tangent_5pct_14293314.tar.gz
vbz_tangent_optimality_1h_32c_14321611.tar.gz
